snippet ggpt
		ggplot(data = ${1:Data}) +
		${2:geom_fn}(
		mapping = aes(${3:maps}), 
		stat = ${4:stat},
		position = ${5:position}) +
		${6:coordinate_fn} + ${7:facet_fn}
endsnippet 

snippet fn "function"
${1:function name} <- function(${2:function arguments}){

}
endsnippet

snippet floop "for loop"
for (${1:condition}){
$2
}
endsnippet
