snippet hyad "YAML header" bA
---
title: $1
author: $2
date: $3
---
$0
endsnippet

snippet mk "math" wA
$${1}$ $0
endsnippet

snippet dm "Math" wA
$$
${1:${VISUAL}}
$$ $0
endsnippet

snippet AA "for all" wA
\forall
endsnippet

snippet EE "exists" wA
\exists
endsnippet

snippet __ "subscript" iA
_{$1} $0 
endsnippet

snippet ** "superscript" iA
^{$1} $0
endsnippet

snippet >>> "Rightarrow" wA
\Rightarrow
endsnippet
